<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
</head>
<body style="background-color: black;">
	<div style="display:flex;flex-direction: row; align-items: center;justify-content: space-between;">
	<h3 style="color:orange">Dashboard</h3>
	<a href="#" style="color:orange"> Profile</a>
	</div>
	<ul >
		<a href="#"><li style="color:orange">Courses</li></a>
		<a href="#"><li style="color:orange">My Courses</li></a>
	</ul>
</body>
</html>